@model SubCategoryAndCategoryViewModel
@{
    ViewData["Title"] = "Create";
}

<br />
<h2 class="text-info">Create Sub Category</h2>
<br />
<partial name="_StatusMessage"   model="Model.StatusMessage"/>
<div class="whiteBackground border row">
    <div class="col-8 border-right">
        <form asp-action="Create" method="post">

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group row">

                <div class="col-4">
                    <label asp-for="SubCategory.CategoryId" class="col-form-label">  </label>
                </div>

                <div class="col-5">
                   <select class="form-control" id="ddlCategories" asp-for="SubCategory.CategoryId"asp-items="@(new SelectList(Model.CategoriesList,"Id","Name"))"></select>
                    <span class="text-danger" asp-validation-for="SubCategory.CategoryId"></span>
                </div>

            </div>


            <div class="form-group row">

                <div class="col-4">
                    <label asp-for="SubCategory.Name" class="col-form-label">  </label>
                </div>

                <div class="col-5">
                    <input asp-for="SubCategory.Name" class="form-control" />
                    <span class="text-danger" asp-validation-for="SubCategory.Name"></span>
                </div>

            </div>

            <div class="form-group row">
                <div class="col-5 offset-4">
                    <partial name="_CreateAndBackToListButtonPartial" />
                </div>
            </div>
        </form>
    </div>

    <div class="col-3 offset-1">
      
         <p>Existing Sub Categories:</p>
        <div id="divSubCategoriesList">


        </div>
        
    </div>
</div>

@section Scripts{

    <partial name="_ValidationScriptsPartial" />

<script>

    function updateSubCategoriesList() {

        var selectedCategory = document.getElementById("ddlCategories").value;
        $list = $('#divSubCategoriesList');

        $.ajax(
            {
                url: '/Admin/SubCategory/GetSubCategories/' + selectedCategory,
                type: 'GET',
                dataType: 'text',
                success: function (data) {
                    results = JSON.parse(data);
                    $list.html('');
                    $list.append('<ul class="List-group">')
                    for (i in results) {
                        $list.append('<li class="list-group-item">' + results[i].text +'</li>')
                    }
                    $list.append('</ul>');
                }
            }

        );     
    }

          $(document).ready(function () {

               updateSubCategoriesList();

             });
            $("#ddlCategories").on("change", function () {
               updateSubCategoriesList();
             });
</script>
}

